<h1><%= @list.name %></h1>
<div>
  <% if @list.photo.attached? %>
    <%= cl_image_tag @list.photo.key %>
  <% else %>
    <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
  <% end %>
</div>

<%# <div>
  <%= link_to 'Delete list', list_path(@list), method: :delete, data: { confirm: 'Are you sure?' } %>
<%# </div> %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong><%= bookmark.movie.title %>:</strong>
      <%= bookmark.comment %>
      <%= link_to 'Delete Bookmark', list_bookmark_path(@list, bookmark), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>

<%= link_to "Return to Index", lists_path %>
