<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong><%= bookmark.movie.title %>:</strong>
      <%= bookmark.comment %>
      <%= link_to 'Delete Bookmark', list_bookmark_path(@list, bookmark), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>

<%= link_to "Return to Index", lists_path %>
